@charset "UTF-8";

/* Estilo para pantallas pequeñas */
@media (max-width: 768px) {

    .productoDeCatalogo,
    .productoIdEnCarritoMini {
        max-width: 100%;
        /* Otra forma de hacerlo responsive */
        margin: 10px;
    }
}

.container-fluid
{
    background-color: var(--Nero-basic-color);
    
}
/* ******************************************* */
/* *Estilos generales */
/* ******************************************* */
* {
    --Nero-basic-color: black;
    --celeste-basic-color: #00b1eb;
    --white-basic-color: #fffcfc;
    --dark-basic-color:  #37eb00;
    box-sizing: border-box;
    margin: 1px;
    padding: 0;
    color: var(--dark-basic-color);
    justify-content: center;
}

@font-face {
    font-family: "Gluten-Light";
    src: url(../assets/fonts/Gluten-Light.ttf);
}

body {
    background: url(../assets/img/background/bg.jpg);
    font-size: medium;
}

h3 {
    padding-top: 10px;
}

h5 {
    font-size: medium;
}

/* ******************************************* */
/* *Estilos del elementos del body */
/* ******************************************* */
.container__tittle-index {
    background-color: var(--celeste-basic-color);
    margin-top: 5px;
}

.container__usuario {
    background-color: var(--Nero-basic-color);
    margin-top: 5px;
    padding: 5px;
}

#infoUsuario {
    display: flex;
    font-size: medium;
    font-weight: bold;
}

.container-text {
    width: 100%;
    border-radius: 10px;
    border: 3px solid var(--Nero-basic-color);
    margin-bottom: 5px;
    padding: 0 10px;
}

#contenedor-general {
    background-color: var(--Nero-basic-color);
    border: 2 solid black;
    padding: 10px;
    margin: 2%;
}

.productoDeCatalogo {
    background-color: rgba(212, 170, 170, 0.383);
    border: 2px dotted forestgreen;
    border-radius: 5%;
    padding: 10px;
    max-width: 300px;
    /* Cambia este valor según tus preferencias */
    margin: 10px;
}

.imgProduct {
    border-radius: 20%;
}

.swal2-html-container {
    color: var(--white-basic-color) !important;
}

.store1 {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
}

.store2 {
    background-color: var(--Nero-basic-color);
    height: 100%;
    /* width: 35%; */
    border: 2px solid var(--Nero-basic-color);
    padding-bottom: 5px;
}

.card {
    background-color: var(--Nero-basic-color);
    color: var(--white-basic-color);

    .card-title,
    .card-text {
        color: var(--white-basic-color);
    }
}

.myButtonDeleteClass {
    align-items: center;
}

#btnFinalizar {
    margin-bottom: 5px;
}

.swal2-image {
    border-radius: 50%;
}

/* ******************************************* */
/* Estilos del footer */
/* ******************************************* */
.footer-style {
    padding-top: 20px;
    background-color: var(--Nero-basic-color);
}

footer h4,
footer h5 {
    margin-bottom: 10px;
    font-weight: 400;
    color: var(--white-basic-color);
}


button {
    padding: 5px;
    background-color: var(--Nero-basic-color);
    color: var(--white-basic-color);
    font-weight: 400;
    margin-left: 5px;
}


#contenedor-productos,
#contenedor-productos-mini {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Alinea los elementos a la izquierda */
}

#contenedor-carrito,
#contenedor-carrito-mini {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Alinea los elementos a la izquierda */
}